.title{
    font-family: 'Yusei Magic', sans-serif;
}

.first-part,.second-part,.third-part{
    display: inline-flex;
    position: relative;
   
  width:300px;
    padding:10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    
    border: 10px 10px 10px 10px solid white;
    border-radius: 2px;
    box-shadow: 10px;
    background-color: rgb(201, 228, 219);
  
}

.brand-name img{
    width:200px;
    margin-left: 5px;
}

.card img{
    width:200px;
    background-color: aliceblue;
}




.icon{
    float: right;
    margin-left: 95px;
    margin-right: 2px;
    padding: 5px;
    display: flex;
}
.half-width img{
    width:500px;

}
.first-part img,.second-part img, .third-part img{
    width:50px;
    position:relative;
    padding-right: 15px;
}
.card{
    border:none;
    background-color: aliceblue;
 

}
.font{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
}

.col{
    margin-bottom: 5px;
}
.pic img{
    width:200px;
    display: inline;
}
.price{
    margin-bottom: 1px;
}
.footer{
    display: flex;
}
.half-width{
    display: inline-flexbox;
}
.col img{
    background-color:white;
}